@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@200&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: auto;
    padding: 60px;
    border-top: 6px solid rgb(14, 13, 13);
    
}

.container p{
    font-size: 15px;
    font-weight: 300px;
    margin-bottom: 60px;
}

.container img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 150p;
    font-weight: 800;
    font-family: sans-serif;
}

@media screen and (max-width:640px) {
    .header {
        flex-direction: column;
    }
    .footer {
        display: none;
    }
  }
