<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listar solicitudes</title>
  </head>
 
  <body>
    <h2>Lista de solicitudes de libros</h2>
 
    {% for s in solicitudes %}
        <div>
            <p>Soliciitud N°: {{s.id}}</p>
            <p> Titulo: {{ s.titulo }} </p>
            <p> Autor: {{ s.autor }} </p>
            <p>Año: {{ s.año }} </p>
        </div>
        <br>
    {% endfor %}
 
  </body>
</html>